<p id="notice"><%= notice %></p>

<h1>Blog do Bruno</h1>

<p>Testando o scaffold do Rails</p>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Date</th>
      <th>Conteúdo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Post', new_blog_path if logged_in?(:site_admin) %>
