<div class="card" data-id= "<%= portfolio_item.id %>">
  <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb') %>
  <p class="card-text">
    <h3><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h3>
    <span><%= portfolio_item.subtitle %></span>
  </p>
</div>
