<h1>Pages#contact</h1>
<p><%= number_to_phone "+55 11 999998888" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "50" %></p>
<p><%= number_with_delimiter "120897657301873" %></p>
